In [1]:
import pandas as pd

In [2]:
file_path = './time_series_covid19_confirmed_US.csv'
data = pd.read_csv(file_path)
data

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,19732,19759,19759,19759,19759,19759,19759,19759,19790,19790
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,69641,69767,69767,69767,69767,69767,69767,69767,69860,69860
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7451,7474,7474,7474,7474,7474,7474,7474,7485,7485
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,8067,8087,8087,8087,8087,8087,8087,8087,8091,8091
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,18616,18673,18673,18673,18673,18673,18673,18673,18704,18704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,12130,12130,12130,12130,12130,12130,12130,12134,12134,12134
3338,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,6401,6401,6401,6401,6401,6401,6401,6406,6406,6406
3339,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,2750,2750,2750,2750,2750,2750,2750,2755,2755,2755
3341,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,1905,1905,1905,1905,1905,1905,1905,1905,1905,1905

In [3]:
list(data.columns)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20',
 '6/5/20',
 '6/6/20',
 '6/7/20',
 '6/8/20',
 '6/9/20',
 '6/10/20',
 '6/11/20',
 '6/12/20',
 '6/13/20',
 '6/14/20',
 '6/15/20',
 '6/16/20',
 '6/17/20',
 '6/18/20',
 '6/19/20',
 '6/20/20',
 '6/21/20',
 '6/22/20',
 '6/23/20',
 '6/24/20',
 '6/25/20',
 '6/26/20',
 '6/27/20',
 '6/28/20',
 '6/29/20',
 '6/30/20',
 '7/1/20',
 '7/2/20',
 '7/3/20',
 '7/4/20',
 '7/5/20',
 '7/6/20',
 '7/7/20',
 '7/8/20',
 '7/9/20',
 '7/10/20',
 '7/11/20',
 '7/12/20',
 '7/13/20',
 '7/14/20',
 '7/15/20',
 '7/16/20',
 '7/17/20',
 '7/18/20',
 '7/19/20',
 '7/20/20',
 '7/21/20',
 '7/22/20',
 '7/23/20',
 '7/24/20',
 '7/25/20',
 '7/26/20',
 '7/27/20',
 '7/28/20',
 '7/29/20',
 '7/30/20',
 '7/31/20',
 '8/1/20',
 '8/2/20',
 '8/3/20',
 '8/4/20',
 '8/5/20',
 '8/6/20',
 '8/7/20',
 '8/8/20',
 '8/9/20',
 '8/10/20',
 '8/11/20',
 '8/12/20',
 '8/13/20',
 '8/14/20',
 '8/15/20',
 '8/16/20',
 '8/17/20',
 '8/18/20',
 '8/19/20',
 '8/20/20',
 '8/21/20',
 '8/22/20',
 '8/23/20',
 '8/24/20',
 '8/25/20',
 '8/26/20',
 '8/27/20',
 '8/28/20',
 '8/29/20',
 '8/30/20',
 '8/31/20',
 '9/1/20',
 '9/2/20',
 '9/3/20',
 '9/4/20',
 '9/5/20',
 '9/6/20',
 '9/7/20',
 '9/8/20',
 '9/9/20',
 '9/10/20',
 '9/11/20',
 '9/12/20',
 '9/13/20',
 '9/14/20',
 '9/15/20',
 '9/16/20',
 '9/17/20',
 '9/18/20',
 '9/19/20',
 '9/20/20',
 '9/21/20',
 '9/22/20',
 '9/23/20',
 '9/24/20',
 '9/25/20',
 '9/26/20',
 '9/27/20',
 '9/28/20',
 '9/29/20',
 '9/30/20',
 '10/1/20',
 '10/2/20',
 '10/3/20',
 '10/4/20',
 '10/5/20',
 '10/6/20',
 '10/7/20',
 '10/8/20',
 '10/9/20',
 '10/10/20',
 '10/11/20',
 '10/12/20',
 '10/13/20',
 '10/14/20',
 '10/15/20',
 '10/16/20',
 '10/17/20',
 '10/18/20',
 '10/19/20',
 '10/20/20',
 '10/21/20',
 '10/22/20',
 '10/23/20',
 '10/24/20',
 '10/25/20',
 '10/26/20',
 '10/27/20',
 '10/28/20',
 '10/29/20',
 '10/30/20',
 '10/31/20',
 '11/1/20',
 '11/2/20',
 '11/3/20',
 '11/4/20',
 '11/5/20',
 '11/6/20',
 '11/7/20',
 '11/8/20',
 '11/9/20',
 '11/10/20',
 '11/11/20',
 '11/12/20',
 '11/13/20',
 '11/14/20',
 '11/15/20',
 '11/16/20',
 '11/17/20',
 '11/18/20',
 '11/19/20',
 '11/20/20',
 '11/21/20',
 '11/22/20',
 '11/23/20',
 '11/24/20',
 '11/25/20',
 '11/26/20',
 '11/27/20',
 '11/28/20',
 '11/29/20',
 '11/30/20',
 '12/1/20',
 '12/2/20',
 '12/3/20',
 '12/4/20',
 '12/5/20',
 '12/6/20',
 '12/7/20',
 '12/8/20',
 '12/9/20',
 '12/10/20',
 '12/11/20',
 '12/12/20',
 '12/13/20',
 '12/14/20',
 '12/15/20',
 '12/16/20',
 '12/17/20',
 '12/18/20',
 '12/19/20',
 '12/20/20',
 '12/21/20',
 '12/22/20',
 '12/23/20',
 '12/24/20',
 '12/25/20',
 '12/26/20',
 '12/27/20',
 '12/28/20',
 '12/29/20',
 '12/30/20',
 '12/31/20',
 '1/1/21',
 '1/2/21',
 '1/3/21',
 '1/4/21',
 '1/5/21',
 '1/6/21',
 '1/7/21',
 '1/8/21',
 '1/9/21',
 '1/10/21',
 '1/11/21',
 '1/12/21',
 '1/13/21',
 '1/14/21',
 '1/15/21',
 '1/16/21',
 '1/17/21',
 '1/18/21',
 '1/19/21',
 '1/20/21',
 '1/21/21',
 '1/22/21',
 '1/23/21',
 '1/24/21',
 '1/25/21',
 '1/26/21',
 '1/27/21',
 '1/28/21',
 '1/29/21',
 '1/30/21',
 '1/31/21',
 '2/1/21',
 '2/2/21',
 '2/3/21',
 '2/4/21',
 '2/5/21',
 '2/6/21',
 '2/7/21',
 '2/8/21',
 '2/9/21',
 '2/10/21',
 '2/11/21',
 '2/12/21',
 '2/13/21',
 '2/14/21',
 '2/15/21',
 '2/16/21',
 '2/17/21',
 '2/18/21',
 '2/19/21',
 '2/20/21',
 '2/21/21',
 '2/22/21',
 '2/23/21',
 '2/24/21',
 '2/25/21',
 '2/26/21',
 '2/27/21',
 '2/28/21',
 '3/1/21',
 '3/2/21',
 '3/3/21',
 '3/4/21',
 '3/5/21',
 '3/6/21',
 '3/7/21',
 '3/8/21',
 '3/9/21',
 '3/10/21',
 '3/11/21',
 '3/12/21',
 '3/13/21',
 '3/14/21',
 '3/15/21',
 '3/16/21',
 '3/17/21',
 '3/18/21',
 '3/19/21',
 '3/20/21',
 '3/21/21',
 '3/22/21',
 '3/23/21',
 '3/24/21',
 '3/25/21',
 '3/26/21',
 '3/27/21',
 '3/28/21',
 '3/29/21',
 '3/30/21',
 '3/31/21',
 '4/1/21',
 '4/2/21',
 '4/3/21',
 '4/4/21',
 '4/5/21',
 '4/6/21',
 '4/7/21',
 '4/8/21',
 '4/9/21',
 '4/10/21',
 '4/11/21',
 '4/12/21',
 '4/13/21',
 '4/14/21',
 '4/15/21',
 '4/16/21',
 '4/17/21',
 '4/18/21',
 '4/19/21',
 '4/20/21',
 '4/21/21',
 '4/22/21',
 '4/23/21',
 '4/24/21',
 '4/25/21',
 '4/26/21',
 '4/27/21',
 '4/28/21',
 '4/29/21',
 '4/30/21',
 '5/1/21',
 '5/2/21',
 '5/3/21',
 '5/4/21',
 '5/5/21',
 '5/6/21',
 '5/7/21',
 '5/8/21',
 '5/9/21',
 '5/10/21',
 '5/11/21',
 '5/12/21',
 '5/13/21',
 '5/14/21',
 '5/15/21',
 '5/16/21',
 '5/17/21',
 '5/18/21',
 '5/19/21',
 '5/20/21',
 '5/21/21',
 '5/22/21',
 '5/23/21',
 '5/24/21',
 '5/25/21',
 '5/26/21',
 '5/27/21',
 '5/28/21',
 '5/29/21',
 '5/30/21',
 '5/31/21',
 '6/1/21',
 '6/2/21',
 '6/3/21',
 '6/4/21',
 '6/5/21',
 '6/6/21',
 '6/7/21',
 '6/8/21',
 '6/9/21',
 '6/10/21',
 '6/11/21',
 '6/12/21',
 '6/13/21',
 '6/14/21',
 '6/15/21',
 '6/16/21',
 '6/17/21',
 '6/18/21',
 '6/19/21',
 '6/20/21',
 '6/21/21',
 '6/22/21',
 '6/23/21',
 '6/24/21',
 '6/25/21',
 '6/26/21',
 '6/27/21',
 '6/28/21',
 '6/29/21',
 '6/30/21',
 '7/1/21',
 '7/2/21',
 '7/3/21',
 '7/4/21',
 '7/5/21',
 '7/6/21',
 '7/7/21',
 '7/8/21',
 '7/9/21',
 '7/10/21',
 '7/11/21',
 '7/12/21',
 '7/13/21',
 '7/14/21',
 '7/15/21',
 '7/16/21',
 '7/17/21',
 '7/18/21',
 '7/19/21',
 '7/20/21',
 '7/21/21',
 '7/22/21',
 '7/23/21',
 '7/24/21',
 '7/25/21',
 '7/26/21',
 '7/27/21',
 '7/28/21',
 '7/29/21',
 '7/30/21',
 '7/31/21',
 '8/1/21',
 '8/2/21',
 '8/3/21',
 '8/4/21',
 '8/5/21',
 '8/6/21',
 '8/7/21',
 '8/8/21',
 '8/9/21',
 '8/10/21',
 '8/11/21',
 '8/12/21',
 '8/13/21',
 '8/14/21',
 '8/15/21',
 '8/16/21',
 '8/17/21',
 '8/18/21',
 '8/19/21',
 '8/20/21',
 '8/21/21',
 '8/22/21',
 '8/23/21',
 '8/24/21',
 '8/25/21',
 '8/26/21',
 '8/27/21',
 '8/28/21',
 '8/29/21',
 '8/30/21',
 '8/31/21',
 '9/1/21',
 '9/2/21',
 '9/3/21',
 '9/4/21',
 '9/5/21',
 '9/6/21',
 '9/7/21',
 '9/8/21',
 '9/9/21',
 '9/10/21',
 '9/11/21',
 '9/12/21',
 '9/13/21',
 '9/14/21',
 '9/15/21',
 '9/16/21',
 '9/17/21',
 '9/18/21',
 '9/19/21',
 '9/20/21',
 '9/21/21',
 '9/22/21',
 '9/23/21',
 '9/24/21',
 '9/25/21',
 '9/26/21',
 '9/27/21',
 '9/28/21',
 '9/29/21',
 '9/30/21',
 '10/1/21',
 '10/2/21',
 '10/3/21',
 '10/4/21',
 '10/5/21',
 '10/6/21',
 '10/7/21',
 '10/8/21',
 '10/9/21',
 '10/10/21',
 '10/11/21',
 '10/12/21',
 '10/13/21',
 '10/14/21',
 '10/15/21',
 '10/16/21',
 '10/17/21',
 '10/18/21',
 '10/19/21',
 '10/20/21',
 '10/21/21',
 '10/22/21',
 '10/23/21',
 '10/24/21',
 '10/25/21',
 '10/26/21',
 '10/27/21',
 '10/28/21',
 '10/29/21',
 '10/30/21',
 '10/31/21',
 '11/1/21',
 '11/2/21',
 '11/3/21',
 '11/4/21',
 '11/5/21',
 '11/6/21',
 '11/7/21',
 '11/8/21',
 '11/9/21',
 '11/10/21',
 '11/11/21',
 '11/12/21',
 '11/13/21',
 '11/14/21',
 '11/15/21',
 '11/16/21',
 '11/17/21',
 '11/18/21',
 '11/19/21',
 '11/20/21',
 '11/21/21',
 '11/22/21',
 '11/23/21',
 '11/24/21',
 '11/25/21',
 '11/26/21',
 '11/27/21',
 '11/28/21',
 '11/29/21',
 '11/30/21',
 '12/1/21',
 '12/2/21',
 '12/3/21',
 '12/4/21',
 '12/5/21',
 '12/6/21',
 '12/7/21',
 '12/8/21',
 '12/9/21',
 '12/10/21',
 '12/11/21',
 '12/12/21',
 '12/13/21',
 '12/14/21',
 '12/15/21',
 '12/16/21',
 '12/17/21',
 '12/18/21',
 '12/19/21',
 '12/20/21',
 '12/21/21',
 '12/22/21',
 '12/23/21',
 '12/24/21',
 '12/25/21',
 '12/26/21',
 '12/27/21',
 '12/28/21',
 '12/29/21',
 '12/30/21',
 '12/31/21',
 '1/1/22',
 '1/2/22',
 '1/3/22',
 '1/4/22',
 '1/5/22',
 '1/6/22',
 '1/7/22',
 '1/8/22',
 '1/9/22',
 '1/10/22',
 '1/11/22',
 '1/12/22',
 '1/13/22',
 '1/14/22',
 '1/15/22',
 '1/16/22',
 '1/17/22',
 '1/18/22',
 '1/19/22',
 '1/20/22',
 '1/21/22',
 '1/22/22',
 '1/23/22',
 '1/24/22',
 '1/25/22',
 '1/26/22',
 '1/27/22',
 '1/28/22',
 '1/29/22',
 '1/30/22',
 '1/31/22',
 '2/1/22',
 '2/2/22',
 '2/3/22',
 '2/4/22',
 '2/5/22',
 '2/6/22',
 '2/7/22',
 '2/8/22',
 '2/9/22',
 '2/10/22',
 '2/11/22',
 '2/12/22',
 '2/13/22',
 '2/14/22',
 '2/15/22',
 '2/16/22',
 '2/17/22',
 '2/18/22',
 '2/19/22',
 '2/20/22',
 '2/21/22',
 '2/22/22',
 '2/23/22',
 '2/24/22',
 '2/25/22',
 '2/26/22',
 '2/27/22',
 '2/28/22',
 '3/1/22',
 '3/2/22',
 '3/3/22',
 '3/4/22',
 '3/5/22',
 '3/6/22',
 '3/7/22',
 '3/8/22',
 '3/9/22',
 '3/10/22',
 '3/11/22',
 '3/12/22',
 '3/13/22',
 '3/14/22',
 '3/15/22',
 '3/16/22',
 '3/17/22',
 '3/18/22',
 '3/19/22',
 '3/20/22',
 '3/21/22',
 '3/22/22',
 '3/23/22',
 '3/24/22',
 '3/25/22',
 '3/26/22',
 '3/27/22',
 '3/28/22',
 '3/29/22',
 '3/30/22',
 '3/31/22',
 '4/1/22',
 '4/2/22',
 '4/3/22',
 '4/4/22',
 '4/5/22',
 '4/6/22',
 '4/7/22',
 '4/8/22',
 '4/9/22',
 '4/10/22',
 '4/11/22',
 '4/12/22',
 '4/13/22',
 '4/14/22',
 '4/15/22',
 '4/16/22',
 '4/17/22',
 '4/18/22',
 '4/19/22',
 '4/20/22',
 '4/21/22',
 '4/22/22',
 '4/23/22',
 '4/24/22',
 '4/25/22',
 '4/26/22',
 '4/27/22',
 '4/28/22',
 '4/29/22',
 '4/30/22',
 '5/1/22',
 '5/2/22',
 '5/3/22',
 '5/4/22',
 '5/5/22',
 '5/6/22',
 '5/7/22',
 '5/8/22',
 '5/9/22',
 '5/10/22',
 '5/11/22',
 '5/12/22',
 '5/13/22',
 '5/14/22',
 '5/15/22',
 '5/16/22',
 '5/17/22',
 '5/18/22',
 '5/19/22',
 '5/20/22',
 '5/21/22',
 '5/22/22',
 '5/23/22',
 '5/24/22',
 '5/25/22',
 '5/26/22',
 '5/27/22',
 '5/28/22',
 '5/29/22',
 '5/30/22',
 '5/31/22',
 '6/1/22',
 '6/2/22',
 '6/3/22',
 '6/4/22',
 '6/5/22',
 '6/6/22',
 '6/7/22',
 '6/8/22',
 '6/9/22',
 '6/10/22',
 '6/11/22',
 '6/12/22',
 '6/13/22',
 '6/14/22',
 '6/15/22',
 '6/16/22',
 '6/17/22',
 '6/18/22',
 '6/19/22',
 '6/20/22',
 '6/21/22',
 '6/22/22',
 '6/23/22',
 '6/24/22',
 '6/25/22',
 '6/26/22',
 '6/27/22',
 '6/28/22',
 '6/29/22',
 '6/30/22',
 '7/1/22',
 '7/2/22',
 '7/3/22',
 '7/4/22',
 '7/5/22',
 '7/6/22',
 '7/7/22',
 '7/8/22',
 '7/9/22',
 '7/10/22',
 '7/11/22',
 '7/12/22',
 '7/13/22',
 '7/14/22',
 '7/15/22',
 '7/16/22',
 '7/17/22',
 '7/18/22',
 '7/19/22',
 '7/20/22',
 '7/21/22',
 '7/22/22',
 '7/23/22',
 '7/24/22',
 '7/25/22',
 '7/26/22',
 '7/27/22',
 '7/28/22',
 '7/29/22',
 '7/30/22',
 '7/31/22',
 '8/1/22',
 '8/2/22',
 '8/3/22',
 '8/4/22',
 '8/5/22',
 '8/6/22',
 '8/7/22',
 '8/8/22',
 '8/9/22',
 '8/10/22',
 '8/11/22',
 '8/12/22',
 '8/13/22',
 '8/14/22',
 '8/15/22',
 '8/16/22',
 '8/17/22',
 '8/18/22',
 '8/19/22',
 '8/20/22',
 '8/21/22',
 '8/22/22',
 '8/23/22',
 '8/24/22',
 '8/25/22',
 '8/26/22',
 '8/27/22',
 '8/28/22',
 '8/29/22',
 '8/30/22',
 '8/31/22',
 '9/1/22',
 '9/2/22',
 '9/3/22',
 '9/4/22',
 '9/5/22',
 '9/6/22',
 '9/7/22',
 '9/8/22',
 '9/9/22',
 '9/10/22',
 '9/11/22',
 '9/12/22',
 '9/13/22',
 '9/14/22',
 '9/15/22',
 '9/16/22',
 '9/17/22',
 '9/18/22',
 '9/19/22',
 '9/20/22',
 '9/21/22',
 '9/22/22',
 '9/23/22',
 '9/24/22',
 '9/25/22',
 '9/26/22',
 '9/27/22',
 '9/28/22',
 '9/29/22',
 '9/30/22',
 '10/1/22',
 '10/2/22',
 '10/3/22',
 '10/4/22',
 '10/5/22',
 '10/6/22',
 ...]

In [4]:
data['Combined_Key']

0          Autauga, Alabama, US
1          Baldwin, Alabama, US
2          Barbour, Alabama, US
3             Bibb, Alabama, US
4           Blount, Alabama, US
                 ...
3337         Teton, Wyoming, US
3338         Uinta, Wyoming, US
3339    Unassigned, Wyoming, US
3340      Washakie, Wyoming, US
3341        Weston, Wyoming, US
Name: Combined_Key, Length: 3342, dtype: object

In [5]:
cols = ['Province_State', 'Admin2', 'Lat', 'Long_'] + list(data.columns[11:])
data = data[cols]
data

,Province_State,Admin2,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Alabama,Autauga,32.539527,-86.644082,0,0,0,0,0,0,...,19732,19759,19759,19759,19759,19759,19759,19759,19790,19790
1,Alabama,Baldwin,30.727750,-87.722071,0,0,0,0,0,0,...,69641,69767,69767,69767,69767,69767,69767,69767,69860,69860
2,Alabama,Barbour,31.868263,-85.387129,0,0,0,0,0,0,...,7451,7474,7474,7474,7474,7474,7474,7474,7485,7485
3,Alabama,Bibb,32.996421,-87.125115,0,0,0,0,0,0,...,8067,8087,8087,8087,8087,8087,8087,8087,8091,8091
4,Alabama,Blount,33.982109,-86.567906,0,0,0,0,0,0,...,18616,18673,18673,18673,18673,18673,18673,18673,18704,18704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,Wyoming,Teton,43.935225,-110.589080,0,0,0,0,0,0,...,12130,12130,12130,12130,12130,12130,12130,12134,12134,12134
3338,Wyoming,Uinta,41.287818,-110.547578,0,0,0,0,0,0,...,6401,6401,6401,6401,6401,6401,6401,6406,6406,6406
3339,Wyoming,Unassigned,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3340,Wyoming,Washakie,43.904516,-107.680187,0,0,0,0,0,0,...,2750,2750,2750,2750,2750,2750,2750,2755,2755,2755
3341,Wyoming,Weston,43.839612,-104.567488,0,0,0,0,0,0,...,1905,1905,1905,1905,1905,1905,1905,1905,1905,1905

In [6]:
state_data = data.groupby(['Province_State','Admin2','Lat','Long_']).sum().reset_index()
state_data

,Province_State,Admin2,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Alabama,Autauga,32.539527,-86.644082,0,0,0,0,0,0,...,19732,19759,19759,19759,19759,19759,19759,19759,19790,19790
1,Alabama,Baldwin,30.727750,-87.722071,0,0,0,0,0,0,...,69641,69767,69767,69767,69767,69767,69767,69767,69860,69860
2,Alabama,Barbour,31.868263,-85.387129,0,0,0,0,0,0,...,7451,7474,7474,7474,7474,7474,7474,7474,7485,7485
3,Alabama,Bibb,32.996421,-87.125115,0,0,0,0,0,0,...,8067,8087,8087,8087,8087,8087,8087,8087,8091,8091
4,Alabama,Blount,33.982109,-86.567906,0,0,0,0,0,0,...,18616,18673,18673,18673,18673,18673,18673,18673,18704,18704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,Wyoming,Teton,43.935225,-110.589080,0,0,0,0,0,0,...,12130,12130,12130,12130,12130,12130,12130,12134,12134,12134
3332,Wyoming,Uinta,41.287818,-110.547578,0,0,0,0,0,0,...,6401,6401,6401,6401,6401,6401,6401,6406,6406,6406
3333,Wyoming,Unassigned,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3334,Wyoming,Washakie,43.904516,-107.680187,0,0,0,0,0,0,...,2750,2750,2750,2750,2750,2750,2750,2755,2755,2755
3335,Wyoming,Weston,43.839612,-104.567488,0,0,0,0,0,0,...,1905,1905,1905,1905,1905,1905,1905,1905,1905,1905

In [7]:
melted_data = state_data.melt(id_vars=['Province_State', 'Admin2','Lat', 'Long_'], var_name='Date', value_name='Confirmed')
melted_data

        Province_State      Admin2        Lat       Long_     Date  Confirmed
0              Alabama     Autauga  32.539527  -86.644082  1/22/20          0
1              Alabama     Baldwin  30.727750  -87.722071  1/22/20          0
2              Alabama     Barbour  31.868263  -85.387129  1/22/20          0
3              Alabama        Bibb  32.996421  -87.125115  1/22/20          0
4              Alabama      Blount  33.982109  -86.567906  1/22/20          0
...                ...         ...        ...         ...      ...        ...
3813043        Wyoming       Teton  43.935225 -110.589080   3/9/23      12134
3813044        Wyoming       Uinta  41.287818 -110.547578   3/9/23       6406
3813045        Wyoming  Unassigned   0.000000    0.000000   3/9/23          0
3813046        Wyoming    Washakie  43.904516 -107.680187   3/9/23       2755
3813047        Wyoming      Weston  43.839612 -104.567488   3/9/23       1905

[3813048 rows x 6 columns]

In [8]:
melted_data['Date'] = pd.to_datetime(melted_data['Date'], format="%m/%d/%y")
melted_data

,Province_State,Admin2,Lat,Long_,Date,Confirmed
0,Alabama,Autauga,32.539527,-86.644082,2020-01-22,0
1,Alabama,Baldwin,30.727750,-87.722071,2020-01-22,0
2,Alabama,Barbour,31.868263,-85.387129,2020-01-22,0
3,Alabama,Bibb,32.996421,-87.125115,2020-01-22,0
4,Alabama,Blount,33.982109,-86.567906,2020-01-22,0
...,...,...,...,...,...,...
3813043,Wyoming,Teton,43.935225,-110.589080,2023-03-09,12134
3813044,Wyoming,Uinta,41.287818,-110.547578,2023-03-09,6406
3813045,Wyoming,Unassigned,0.000000,0.000000,2023-03-09,0
3813046,Wyoming,Washakie,43.904516,-107.680187,2023-03-09,2755
3813047,Wyoming,Weston,43.839612,-104.567488,2023-03-09,1905

In [27]:
melted_data.to_csv('processed_US_COVID_data.csv', index=False)

In [11]:
agg_melted_data = melted_data.groupby(['Province_State','Date']).agg({'Confirmed':'sum'}).reset_index()
agg_melted_data

      Province_State       Date  Confirmed
0            Alabama 2020-01-22          0
1            Alabama 2020-01-23          0
2            Alabama 2020-01-24          0
3            Alabama 2020-01-25          0
4            Alabama 2020-01-26          0
...              ...        ...        ...
59431        Wyoming 2023-03-05     185159
59432        Wyoming 2023-03-06     185159
59433        Wyoming 2023-03-07     185385
59434        Wyoming 2023-03-08     185385
59435        Wyoming 2023-03-09     185385

[59436 rows x 3 columns]

In [12]:
agg_melted_data.to_csv('US_States_COVID_data.csv', index=False)